html,
body {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "Metropolis";
  src: url("/font/metropolis/Metropolish-Regular.otf") format("truetype");
}
body {
  background-color: #ffff;
  font-family: Metropolis;
  width: 1440px;
  height: 900px;
  top: -1753px;
  left: -10367px;
}
nav {
  width: 1440px;
  height: 100px;
}
.navbar-brand a {
  font-size: 24px;
  font-weight: bold;
}
.navbar-nav {
  margin-right: 30px;
  margin-left: 30px;
}
.search {
  width: 507px;
  height: 40px;
  outline: none;
  border-color: #8e8e93;
  border-radius: 23px;
  padding-left: 30px;
  margin-right: 10px;
}
.buy-btn {
  width: 322px;
  height: 36px;
  background-color: #db3022;
  color: #ffffff;
  border: 0;
  border-radius: 25px;
  margin-top: 30px;
}
.container-bag {
  width: 1200px;
  margin-top: 140px;
  margin-left: 160px;
  margin-right: auto;
  /* background-color: aqua; */
  box-sizing: border-box;
  display: flex;
}
.item {
  flex: 4;
  order: 1;
}
h2,
h5 {
  font-weight: bold;
}
.delete {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  flex: 1;
  order: 2;
}
.delete div {
  margin-top: 30px;
  margin-bottom: 20px;
}
.summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  padding-top: 20px;
  padding-bottom: 20px;
  flex: 3;
  order: 3;
}
