html,
body {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "Metropolis";
  src: url("/font/metropolis/Metropolish-Regular.otf") format("truetype");
}
body {
  background-color: #ffff;
  width: 1440px;
  height: 2825px;
  top: -1753px;
  left: -13962px;
  font-family: Metropolis;
}
nav {
  width: 1440px;
  height: 100px;
}
.navbar-brand a {
  font-family: Metropolis;
  font-size: 24px;
  font-weight: bold;
}
.navbar-nav {
  margin-right: 30px;
  margin-left: 30px;
}

.search {
  width: 507px;
  height: 40px;
  outline: none;
  border-color: #8e8e93;
  border-radius: 23px;
  padding-left: 30px;
  margin-right: 10px;
}
.login a {
  width: 100px;
  height: 36px;
  background-color: #db3022;
  color: #ffffff;
  border: 0;
  border-radius: 25px;
}
.signup a {
  width: 100px;
  height: 36px;
  /* background-color: #ffffff; */
  /* border-color: #9b9b9b; */
  border-radius: 25px;
}
button {
  background-color: #db3022;
  color: #ffffff;
  border: 0;
  border-radius: 25px;
}
.detail {
  margin-top: 100px;
  margin-left: 160px;
  font-size: 12px;
}
.conten {
  /* background-color: aqua; */
  width: 1100px;
  display: flex;
}
.descrption {
  margin-top: 30px;
  /* background-color: aqua; */
  margin-left: 160px;
  width: 1100px;
  display: flex;
  flex-direction: column;
}
p {
  font-size: 14px;
  color: #9b9b9b;
}
.sub-image {
  display: flex;
}
.sub-image img {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}
h6 {
  color: #db3022;
}
